<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img height="200px" src="https://media.istockphoto.com/id/1335941248/photo/shot-of-a-handsome-young-man-standing-against-a-grey-background.jpg?b=1&s=170667a&w=0&k=20&c=Dl9uxPY_Xn159JiazEj0bknMkLxFdY7f4tK1GtOGmis=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : Alen</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img height="200px" src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZmFjZXxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : Varun</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img  height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoxdxoQu6AimMO--g942J9p0mHPW47tfdOrzFVo33GbRTmpxtBSmTPPw3pmq_0Xbk3dgk&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : kiran</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img  height="200px" src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?cs=srgb&dl=pexels-italo-melo-2379005.jpg&fm=jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : Yadhav</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZlJd0c4DYxQlOFR9RsPEYGG5_OtPliGMrRNiMUWF0m8j8JnCmkoQz9Omhy5Nx3a19qZk&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : Praveen</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img  height="200px" src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/03/GettyImages-1092658864_hero-1024x575.jpg?w=1155&h=1528" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : Kumar</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZlJd0c4DYxQlOFR9RsPEYGG5_OtPliGMrRNiMUWF0m8j8JnCmkoQz9Omhy5Nx3a19qZk&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : william</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img height="200px" src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZmFjZXxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name :jomon</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img height="200px"  src="https://us.123rf.com/450wm/kadettmann/kadettmann2011/kadettmann201100074/kadettmann201100074.jpg?ver=6" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : alvy</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >`
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN7zhlNBS_KljRliOVYC-h3vXTo7V7qViwkb1GSv_7oK-IbQee09xB56eiXK4gIA9Z0lg&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name : sijo</h5>
                          <p class="card-text">Age : 25</p>
                         
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
